.tops{
    top:571px;
}
.name{
    
    margin-left:50%;
    margin-top:40%;
}
.h2{
    text-transform: uppercase;
}
.h2 span{
    transition: 0.5s;
}
.h2:hover span:nth-child(1){
 margin-right: 10px;
}
.h2:hover span:nth-child(2){
 margin-left: 20px;
}
.h2:hover span{
    color: #fff;
    text-shadow: 0 0 10px #fff,
    0 0 40px #fff,
    0 0 40px #fff,
    0 0 40px #fff,
    0 0 60px #fff          ;
}

/* .dot {
    position: absolute;
    z-index: 10;
    inset: 5px;
    transform: rotate(0deg);
    opacity: 0; 
    transition: opacity 0.5s;
    animation: animate 2s linear forwards;
  } */
  
  /* .dot.animate {
    opacity: 1;
  } */