.a-back {
    /* background: black; */
    font-weight: 700;
}

.a-border {
    border: 2px solid whitesmoke;
}

.padding {
    padding-right: 115px;
}

.widths {
    width: 49.8%;
}

.a-box {
    position: relative;
    width: 90%;
    color: #ffff;
}
.num1{
    box-shadow: 0 0 10px rgba(43, 255, 0, 0.808), inset 0 0 20px rgba(51, 255, 0, 0.836);
}
.num2{
    box-shadow: 0 0 10px rgba(255, 153, 0, 0.952), inset 0 0 20px rgba(255, 187, 0, 0.836);
}
.num3{
    box-shadow: 0 0 10px rgba(162, 0, 255, 0.952), inset 0 0 20px rgba(153, 0, 255, 0.836);
}
.num4{
    box-shadow: 0 0 10px rgba(255, 230, 0, 0.952), inset 0 0 20px rgba(238, 255, 0, 0.836);
}
.about-text{
    text-shadow: 0 0 10px #47b8bc,
    0 0 10px #47b8bc,
    0 0 20px #47b8bc,
    0 0 30px #47b8bc 
}
@media only screen and (max-width: 687px) {
    .a-box {
        position: relative;
        width: 100%;
        color: #ffff;
    }
}

.a-color-box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #4dff03, #00d0ff);
}

.a-color-box::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(315deg, #4dff03, #00d0ff);
    filter: blur(30px);
}

.b-color-box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #ffbc00, #ff0058);
}

.b-color-box::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(315deg, #ffbc00, #ff0058);
    filter: blur(30px);
}

.c-color-box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #1bb0f5, #ff0059);
}

.c-color-box::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(315deg, #1bb0f5, #ff0059);
    filter: blur(30px);
}

.d-color-box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #e4f403, #ff5100);
}

.d-color-box::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(315deg, #e4f403, #ff5100);
    filter: blur(30px);
}

.a-box span {
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
}

.a-back span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(225, 225, 225, 0.1);
    pointer-events: none;
}

.a-box .a-content {
    position: relative;
    z-index: 10;
}

.moving-image {
    animation: move 3s infinite ease-in-out;
    transform-origin: center bottom;
}

@keyframes move {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-25px);
    }

    100% {
        transform: translateY(0);
    }
}