.home {
    /* position: relative; */
    /* height: 100vh; */
  }
  
  .background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1c1c1c;
    overflow: hidden;
  }
  
  .lines {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 90vw;
    height: 100vh;
  }
  
  .line {
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0;
    left: 50%;
    background-color: #fff;
    transform: rotate(45deg);
    opacity: 0.2;
    animation: drop 7s ease-in-out infinite alternate;
  }
  
  .line:nth-child(1) {
    margin-left: -30%;
    animation-delay: 1s;
  }
  
  .line:nth-child(3) {
    margin-left: 30%;
    animation-delay: 2s;
  }
  
  @keyframes drop {
    0% {
      transform: rotate(45deg) translate(0, 0);
    }
    100% {
      transform: rotate(45deg) translate(0, 100vh);
    }
  }
  
  #animated-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5vw;
    text-align: center;
    font-weight: bold;
    color: #fff;
  }
  
  @keyframes animate-text {
    0% {
      transform: translate(-50%, -50%) scale(1);
    }
    50% {
      transform: translate(-50%, -50%) scale(1.2);
    }
    100% {
      transform: translate(-50%, -50%) scale(1);
    }
  }
  
  #animated-text {
    animation: animate-text 3s ease-in-out infinite alternate;
  }
  
  @keyframes separateLetters {
    0% {
      letter-spacing: 0;
    }
    50% {
      letter-spacing: 20px;
    }
    100% {
      letter-spacing: 0;
    }
  }
  /* ---------------------------------------------------------------------------- */
