/* .c-back{
    background: #292929;
    height: 500px;
}
.field-group{
    width: 600px;
    position: relative;
    padding-top: 15px;
}
.input-field{
    width: 100%;
    outline: 0;
    border: 0;
    border-bottom: 2px solid #999999;
    padding: 10px 0;
    background: transparent;
    font-size: 1.2em;
    color: #ffffff;
    transition: 0.3s;

}
.input-label{
    display: block;
    position: absolute;
    top: 0;
    font-size: 1em;
    color: #999999;
    text-transform: uppercase;
    transition: 0.3s;

}
.input-field::placeholder{
    color: transparent;

}
.input-field:placeholder-shown ~ .input-label{
    font-size: 2em;
    top: 20px;
   
}
.input-field:focus{
    border-image: linear-gradient(to right, #ef5a03, #d1d357);
    border-image-slice: 1;
}
.input-field:focus ~ .input-label{
    display: block;
    position: absolute;
    top: 0;
    font-size: 1em;
    columns: #ef5a03 ;
} */

.c-back{
    background: black;
    padding: 10px;
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    height: 400px;
    width: 500px;
    border : 5px solid #333;
    border-radius: 10px;
}
.input-box{
    position: relative;
    width: 320px;
    margin-bottom: 10px;
}
.input-box input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid #333;
    outline: none;
    border-radius: 5px; 
    color: #ffffff;
    padding: 0 10px 0 35px;
}
.c-button{
    
    width: 100%;
    height: 45px;
    background: white;
    border:2px solid red;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
}