

.c-back{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0,0,0,0.90), rgba(0,0,0,0.90)),url('../../assets/contact-img/816.jpg');
    padding: 10px;
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    height: 400px;
    width: 500px;
    border : 1px solid #ffffff;
    backdrop-filter: blur(10px) ;
    border-radius: 50px;
    transition: 0.5s;
}
.mail-text{
    text-shadow: 0 0 10px #47b8bc,
    0 0 10px #47b8bc,
    0 0 20px #47b8bc,
    0 0 30px #47b8bc 
}
@media only screen  and (max-width: 687px){
    .wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
        height: 400px;
        width: 100%;
        border : 1px solid #ffffff;
        backdrop-filter: blur(10px) ;
        border-radius: 20px;
        transition: 0.5s;
        padding: 30px;
    }
}
.wrapper:hover{
    box-shadow: 0 0 20px #0ef, inset 0 0 20px #0ef;
}

.c-button{
    
    width: 100%;
    height: 45px;
    border:none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
    transition: 0.5s;
}
.c-button:hover{
    background: rgb(1, 187, 201);
}
.wrapper:hover .c-button{
    background-color: #0ef;
    color: #000;
    box-shadow:0 0 20px #0ef;
}
.c-img{
    border : 2px solid #0ef;
    box-shadow: 0 0 10px #0ef, inset 0 0 10px #0ef;
}

.inputBox{
    position: relative;
    width: 300px;
    margin-bottom: 20px
}
.inputBox input{
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #ffffff;
    background: transparent;
    border-radius: 5px;
    outline: none;
    color: #ffffff;
}
.inputBox span{
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    text-transform: uppercase;
    transition: 0.4s;
    color: #aaa2a2;
}
.inputBox input:valid ~  span,
.inputBox input:focus ~ span{
    color: #0ef;
    transform: translateX(10px) translateY(-7px);
    padding: 0 10px;
    font-size: 0.65em;
    border-left: 1px solid #0ef;
    border-right: 1px solid #0ef;
    letter-spacing: 0.2em;
    background: #333;
 }

 .inputBox input:valid,
.inputBox input:focus{

    border: 1px solid #0ef;
    box-shadow: 0 0 10px #0ef, inset 0 0 10px #0ef;

}