ul{
    position: relative;
    display: flex;
    color: #fff;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background: transparent;
    backdrop-filter: blur(20px) ;
    border-radius: 10px;
    width: 400px;
    height: 50px;
}
@media only screen and (max-width: 687px) {
    ul{
        position: relative;
        display: flex;
        color: #fff;
        gap:2px;
        justify-content: center;
        align-items: center;
        background: transparent;
        backdrop-filter: blur(20px) ;
        border-radius: 10px;
        width: 400px;
        height: 50px;
    }
}
ul li{
    list-style: none;
}
ul li a{
    position: relative;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    z-index:1000;
    color: #fff;
}

ul li a span{
    font-size: 1.2em;
    transition: 0.5s;
    pointer-events: none;
}
ul li:hover a span{
    color: #94f8ff;
    filter: drop-shadow(0 0 20px #05f8f8);
}

ul li.active a span{
   color: #000000;
   filter: drop-shadow(0 0 15px #68faff);
   transform: translateY(-27px);
}
#marker{
    position: absolute;
    top: -20px;
    width: 20px;
    height: 40px;
    background: #94f8ff;
    border-radius: 10px;
    border-top: 2px solid #68faff;
    border-left: 2px solid #68faff;
    /* box-shadow: 0 0 0 3px black,
    0 2px 0 0px #68faff; */
    transition: 0.5s;
    box-shadow: 0 0 10px #0ef, inset 0 0 20px #0ef;

}
#marker::before{
    content: '';
    position: absolute;
    top: 30px;
    left: -30px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 5px;
    /* box-shadow: 4px -4px 0 4px black; */
}
#marker::after{
    content: '';
    position: absolute;
    top: 20px;
    right: -30px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    /* box-shadow: -4px -4px 0 4px black; */
}
#marker span{
        position: absolute;
        top: 48px;
        width: 120%;
        left: -10%;
        height: 25px;
        background:#94f8ff;
        /* box-shadow: 0 0 0 3px black,
        0 -2px 0 0px #68faff; */
        border-radius: 5px;
        border-right: 1px solid #68faff;
        border-bottom: 1px solid #68faff;
        box-shadow: 0 0 10px #0ef, inset 0 0 20px #0ef;
}
ul li text{
    position: absolute;
    pointer-events: none;
    transform: translateY(20px);
    opacity: 0;
    font-size: 0.6em;
    transition: 0.5s;
    text-transform: uppercase;
    color: white;
}
ul li.active text{
    font-weight: 700;
    opacity: 1;
    color: black;
    filter: drop-shadow(0 0 10px #68faff);
}